<div id="overlay" class="userDetailsOverlay"></div>
<div class="employeeDetailsAdd">
    <div class="popUp">
        <h2 class="fixdiv h2Center">
            Add New Employee
        </h2>
        <div class="input-panel" style="margin-left:23px;">
            <div class="margin-top10">
                <span>Created Date</span>
            </div>
            <div class="margin-top5">
                <input type="text" id="txtcreateDate" disabled="disabled"/>
            </div>
            <div class="margin-top10">
                <span>First Name</span>
            </div>
            <div class="margin-top5">
                <input type="text" id="txtFirstName" />
            </div>
            <div class="margin-top10">
                <span>Last Name</span>
            </div>
            <div class="margin-top5">
                <input type="text" id="txtLastName" />
            </div>
            <div class="margin-top10">
                <span>City</span>
            </div>
            <div class="margin-top5">
                <input type="text" id="txtCity" />
            </div>
            <div class="margin-top10">
                <span>Zip</span>
            </div>
            <div class="margin-top5">
                <input type="text" id="txtZip" />
            </div>
        </div>
        <div style="float:right">
            <input type="button" title="cancel" id="cancel" class="ctrl_btn"  value="Cancel" ToolTip="Cancel" onclick="cancel();" />
            <input type="submit" title="save" id="saveEmployee" class="ctrl_btn" value="Save" ToolTip="Save" onclick="saveEmployee();" />
        </div>
        
    </div>
</div>